<ion-header>
  <ion-toolbar>
    <ion-title>List of favs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-item *ngFor="let character of charactersFavs" >
      <ion-avatar slot="start" (click)="viewProfile(character)">
        <img [src]="character.image" />
      </ion-avatar>
      <ion-label (click)="viewProfile(character)">
        <h2>{{character.name}}</h2>
        <h3>{{character.species}}</h3>
        <p>{{character.status}}</p>
        <p>From: {{character.origin.name}}</p>

      </ion-label>
      <ion-button (click)="removeCharacter(character)">Remove</ion-button>
    </ion-item>
  </ion-list>
  <div class="ion-text-center"  *ngIf="charactersFavs.length == 0">
    <ion-label>Not characters added.</ion-label>
  </div>
</ion-content>
